<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Detail</h4>
                    </div>
                    <div class="card-body">
                        <img style="width: 100%;" src={{obj?.ImageUrl}}>
                        <p>BODY STYLE : {{obj?.BodyStyle?.CurrentTextValue}}</p>
                        <p>CarMake : {{obj?.CarMake?.CurrentTextValue}}</p>
                        <p>CarModel : {{obj?.CarModel?.CurrentTextValue}}</p>
                        <p>Colour : {{obj?.Colour?.CurrentTextValue}}</p>
                        <p>Description : {{obj?.Description}}</p>
                        <p>DriverSide : {{obj?.DriverSide?.CurrentTextValue}}</p>
                        <p>EngineSize : {{obj?.EngineSize?.CurrentTextValue}}</p>
                        <p>FuelType : {{obj?.FuelType?.CurrentTextValue}}</p>
                        <p>Immobiliser : {{obj?.Immobiliser?.CurrentTextValue}}</p>
                        <p>IndicativeValue : {{obj?.IndicativeValue?.CurrentTextValue}}</p>
                        <p>MakeDescription : {{obj?.MakeDescription?.CurrentTextValue}}</p>
                        <p>ModelDescription : {{obj?.ModelDescription?.CurrentTextValue}}</p>
                        <p>NumberOfDoors : {{obj?.NumberOfDoors?.CurrentTextValue}}</p>
                        <p>NumberOfSeats : {{obj?.BodyStyle?.CurrentTextValue}}</p>

                        <p>RegistrationYear : {{obj?.RegistrationYear}}</p>
                        <p>Transmission : {{obj?.Transmission?.CurrentTextValue}}</p>
                        <p>VehicleInsuranceGroup : {{obj?.VehicleInsuranceGroup}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>